* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header {
  overflow: hidden;
  position: relative;
  z-index: 9999;
  width: auto;
}

html,
body {
  height: 100%;
}

nav {
  float: right;
  background-color: #FFCE00;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

li {
  font-family: Sanchez;
  padding: 10px 30px 0px 0px;
  font-size: 2.2em;
  color: #333333;
  text-align: center;
  line-height: 54px;
  border-bottom: 1px solid #FFE472;
  padding-bottom: 18px;
}

#top-item {
  padding-top: 130px;
}

#last-item {
  border-bottom: none;
}

li a {
  color: #333;

}

.logo {
  font-family: Bryant-Bold;
  font-size: 48px;
  margin: 20px 0 0px 30px;
  float: left;
}

.logo a {
  color: #333333;
}

.hamburger-icon {
  display: inline-block;
  margin: 25px 30px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.cancel-icon {
  display: inline-block;
  margin: 23px 32px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

a {
  text-decoration: none;
}

p {
  font-family: Bryant-bold;
  font-size: 20px;
  color: #333333;
}

/*fonts*/
@font-face {
  font-family: ‘Bryant’;
  src: url(Bryant.eot’);
  src: url(Bryant.woff’) format(‘woff’), 
       url(Bryant.ttf’) format(‘truetype’), 
             url(Bryant.svg’) format(‘svg’);

  font-family: ‘Bryant-bold’;
  src: url(Bryant-bold.eot’);
  src: url(Bryant-bold.woff’) format(‘woff’), 
       url(Bryant-bold.ttf’) format(‘truetype’), 
             url(Bryant-bold.svg’) format(‘svg’);
}

.intro {
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 35px;
}

.intro h1 {
  font-family: "Sanchez";
  font-size: 1.8em;
  color: #000;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 45%;
  position: relative;
  clear: both;
  margin: 0 auto;
}

.intro-2 p{
  font-size: 3em;
  font-family: Sanchez;
  text-align: center;
  margin-bottom: 20px;
}

#top {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  overflow: hidden; 
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  /*height: 100%;*/
  z-index: -100;
  overflow: hidden;
}

.chevron {
  position: absolute;
  left:0;
  bottom:20px;
  width: 100%;
  text-align: center;
}
.chevron img {
  display: inline-block;
}

.omnom-text {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.omnom-text p {
  font-size: 100px;
  font-family: Sanchez;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  line-height: 70px;
  padding-bottom: 40px;
  color: #333;
}

.omnom-text-2 {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.omnom-text-2 p {
  font-size: 30px;
  font-family: Sanchez;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  line-height: 70px;
  color: #333;
  padding-top: 90px;
}

.emojis {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.happy {
  display: inline-block;
  margin-right: 50px;
}

#happy-text p{
  opacity: 0;
  color: #333;
  font-size: 1.5em;
  margin-top: 10px;
}

.happy:hover #happy-text p{
  opacity: 1;
}

.silly {
  display: inline-block;
  margin-right: 50px;
}

#silly-text p{
  opacity: 0;
  color: #333;
  font-size: 1.5em;
  margin-top: 10px;
}

.silly:hover #silly-text p{
  opacity: 1;
}

.sad {
  display: inline-block;
  margin-right: 50px;
}

#sad-text p{
  opacity: 0;
  color: #333;
  font-size: 1.5em;
  margin-top: 10px;
}

.sad:hover #sad-text p{
  opacity: 1;
}

.angry {
  display: inline-block;
  margin-right: 50px;
}

#angry-text p{
  opacity: 0;
  color: #333;
  font-size: 1.5em;
  margin-top: 10px;
}

.angry:hover #angry-text p{
  opacity: 1;
}

/*general styes for each recipe page*/
.grey {
  background-color: #E8E8E8;
  margin-top: 150px;
  top: 0;
  left: 0;
}

.structure {
  top: -120px;
  position: relative;
  height: 700px;
  box-sizing: border-box;
}

.title {
  width: 18%;
  height: 100px;
  margin: 0 auto;
}

.title h1 {
  font-size: 3.43em;
  margin-top: 5%;
  margin-bottom: 1%;
  color: #333;
  font-family: "Sanchez";
  display: inline-block;
}

.small-emoji {
  display: inline-block;
  position: relative;
  top: 16px;
  left: 10px;
}

/*sweet*/
.featured {
  margin: auto;
  width: 88%;
  height: 69%;
  background: url("../images/Apple-Pie-Popcorn1.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

.recipe-title {
  font-family: Sanchez;
  font-size: 2.8em;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: #F8F8F8;
  color: #dd1505;
  width: 350px;
  height: 275px;
  margin-top: 10px;
}

.recipe-title p {
  padding-top: 20px;
  font-family: Sanchez;
  line-height: 20px;
}

.recipe-title a {
  color: #dd1505;
}

.recipe-parent {
  width: 100%;
}

.more-recipes {
  width: 88%;
  padding-top: 28px;
  margin: 0 auto;
}

#column {
  background-color: #fff;
  width: 400px;
  height: 350px;
  margin-right: 33px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.column {
  background-color: #fff;
  width: 400px;
  height: 350px;
  display: inline-block;
  float: right;
  box-sizing: border-box;
}

/*.column .last {
  background-color: #fff;
  width: 400px;
  height: 350px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}*/

.column-img img{
  width: 100%;
  height: 200px;
}

.column-text {
  padding: 2% 4% 0 4%;
}

.column-title a {
  color: #dd1505;
  font-family: "Sanchez";
}

.column-blurb {
  margin-top: 3%;
  font-size: .9em;
  font-family: Sanchez;
  line-height: 18px;
}

.get-recipe {
  padding-top: 6%;
}

.get-recipe a {
  text-decoration: none;
  font-family: Sanchez;
  font-size: 1em;
  color: #dd1505;
}

/*savory*/
#featured-savory {
  margin: auto;
  width: 90%;
  height: 70%;
  background: url("../images/lemony-kale.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

/*sweet & salty*/
#featured-sweet-salty {
  margin: auto;
  width: 90%;
  height: 70%;
  background: url("../images/peanut-butter.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

/*spicy*/
#featured-spicy {
  margin: auto;
  width: 90%;
  height: 70%;
  background: url("../images/spicy-curry.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

/*search
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}

.search-box + label .search-icon {
  color: black;
}

.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 3px #3d4752;
}

.search-box:hover + label .search-icon {
  color: white;
}

.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.search-box:focus + label .search-icon {
  color: black;
}

.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: absolute;
  left: -30px;
  color: white;
  cursor: pointer;
}*/

footer {
  background-color: #ffce00;
  width: 100%;
  height: 100px;
  margin-top: 100px;
}

/*history*/
#top-image {
  background-color: #FFF1B6;
  z-index: -100;
  height: 100%;
}

.date p {
  margin-top: 100px;
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.text-1 p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
  font-family: Sanchez;
}

.divider-top {
  border-top: 1px solid #FFCE00;
  width: 300px;
  margin-top: 16px;
  margin-left: 570px;
}

.squanto {
  text-align: center;
  margin-top: 30px;
}

.text-2 p {
  width: 52%;
  text-align: center;
  margin: 40px 0 100px 340px;
  font-family: Sanchez;
  line-height: 24px;
}

/*.divider-bottom {
  border-bottom: 1px solid #FFCE00;
  width: 300px;
  margin-left: 50px;
  margin-bottom: 500px;
}*/

.second {
  background-color: #fff;
  width: 100%;
  height: 600px;
}

.second .date p {
  margin-top: 50px;
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.second .text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 100px;
  margin-left: 340px;
  font-family: Sanchez;
}

.states {
  text-align: center;
  margin-top: 50px;
}

.third {
  background-color: #FFF1B6;
  width: 100%;
  height: 750px;
}

.third .date p {
  padding-top: 50px;
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.third .text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 410px;
  margin-left: 340px;
  font-family: Sanchez;
}

.fourth {
  background-color: #fff;
  width: 100%;
  height: 700px;
}

.fourth .date p {
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.fourth .text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 410px;
  margin-left: 340px;
  font-family: Sanchez;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


