* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*header {
  overflow: hidden;
  position: relative;
  z-index: 9999;
  width: auto;
}

nav {
  float: right;
  margin-top: 10px;
  display: inline-block;
}

nav ul {
  width: 100%;
}

li {
  display: inline-block;
  font-family: Bryant-Bold;
  padding: 10px 30px 0px 0px;
  font-size: 20px;
  color: #333333;
}

li a {
  color: #333;
}*/

.logo {
  font-family: Bryant-Bold;
  font-size: 48px;
  margin: 20px 0 0px 30px;
  float: left;
}

.logo a {
  color: #333333;
}

.hamburger-icon {
  display: inline-block;
  margin: 25px 30px 0px 0px;
}

a {
  text-decoration: none;
}

p {
  font-family: Bryant-bold;
  font-size: 20px;
  color: #333333;
}

/*fonts*/
@font-face {
  font-family: ‘Bryant’;
  src: url(Bryant.eot’);
  src: url(Bryant.woff’) format(‘woff’), 
       url(Bryant.ttf’) format(‘truetype’), 
             url(Bryant.svg’) format(‘svg’);

  font-family: ‘Bryant-bold’;
  src: url(Bryant-bold.eot’);
  src: url(Bryant-bold.woff’) format(‘woff’), 
       url(Bryant-bold.ttf’) format(‘truetype’), 
             url(Bryant-bold.svg’) format(‘svg’);
}

.intro {
  margin-top: 250px;
  line-height: 35px;
}

.intro h1 {
  font-family: "Sanchez";
  font-size: 1.8em;
  color: #000;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 45%;
  position: relative;
  clear: both;
  margin: 0 auto;
}

.intro-2 p{
  font-size: 3em;
  font-family: Sanchez;
  text-align: center;
  margin-bottom: 20px;
}

#top {
  width: 100%;
  height: 700px;
  background-size: cover;
  display: inline-block;
  margin: 0 auto;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  overflow: hidden;
}

/*.white-box {
  width: 100%;
  background-color: red;
  height: 100px;
  z-index: 1000;
  margin-top: 800px;
}*/

.chevron {
  position: relative;
  width: 100px;
  margin: 0 auto;
  padding-top: 690px;
}

.omnom-text {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.omnom-text p {
  font-size: 100px;
  font-family: Sanchez;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  line-height: 70px;
  padding-bottom: 40px;
  color: #333;
}

.omnom-text-2 {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.omnom-text-2 p {
  font-size: 30px;
  font-family: Sanchez;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  line-height: 70px;
  color: #333;
  padding-top: 90px;
}

.emojis {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.happy {
  display: inline-block;
  margin-right: 50px;
}

#happy-text {
  display: none;
}

.happy:hover #happy-text {
  display: block;
}

.silly {
  display: inline-block;
  margin-right: 50px;
}

#silly-text {
  display: none;
}

.silly:hover #silly-text {
  display: block;
}

.sad {
  display: inline-block;
  margin-right: 50px;
}

#sad-text {
  display: none;
}

.sad:hover #sad-text {
  display: block;
}

.angry {
  display: inline-block;
  margin-right: 50px;
}

#angry-text {
  display: none;
}

.angry:hover #angry-text {
  display: block;
}

/*general styes for each recipe page*/
.grey {
  background-color: #E8E8E8;
  margin-top: 150px;
  height: 800px;
}

.structure {
  top: -120px;
  position: relative;
  height: 700px;
  box-sizing: border-box;
}

.title {
  width: 18%;
  height: 100px;
  margin: 0 auto;
}

.title h1 {
  font-size: 3.43em;
  margin-top: 5%;
  margin-bottom: 1%;
  color: #333;
  font-family: "Sanchez";
  display: inline-block;
}

.small-emoji {
  display: inline-block;
  position: relative;
  top: 16px;
  left: 10px;
}

/*sweet*/
.featured {
  margin: auto;
  width: 88%;
  height: 69%;
  background: url("../images/Apple-Pie-Popcorn1.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

.recipe-title {
  font-family: Sanchez;
  font-size: 2.8em;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: #F8F8F8;
  color: #dd1505;
  width: 350px;
  height: 275px;
  margin-top: 10px;
}

.recipe-title p {
  padding-top: 20px;
  font-family: Sanchez;
  line-height: 20px;
}

.recipe-title a {
  color: #dd1505;
}

.more-recipes {
  width: 88%;
  margin: 30px auto;
}

.column {
  background-color: #fff;
  width: 400px;
  height: 350px;
  margin-right: 22px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.column.last {
  background-color: #fff;
  width: 400px;
  height: 350px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.column-img img{
  width: 100%;
  height: 200px;
}

.column-text {
  padding: 2% 4% 0 4%;
}

.column-title a {
  color: #dd1505;
  font-family: "Sanchez";
}

.column-blurb {
  margin-top: 3%;
  font-size: .9em;
  font-family: Sanchez;
  line-height: 18px;
}

.get-recipe {
  padding-top: 6%;
}

.get-recipe a {
  text-decoration: none;
  font-family: Sanchez;
  font-size: 1em;
  color: #dd1505;
}

/*savory*/
#featured-savory {
  margin: auto;
  width: 90%;
  height: 70%;
  background: url("../images/lemony-kale.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

/*sweet & salty*/
#featured-sweet-salty {
  margin: auto;
  width: 90%;
  height: 70%;
  background: url("../images/peanut-butter.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

/*spicy*/
#featured-spicy {
  margin: auto;
  width: 90%;
  height: 70%;
  background: url("../images/spicy-curry.jpg"); center center no-repeat;
  position: relative;
  box-sizing: border-box;
}

/*search
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}

.search-box + label .search-icon {
  color: black;
}

.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 3px #3d4752;
}

.search-box:hover + label .search-icon {
  color: white;
}

.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.search-box:focus + label .search-icon {
  color: black;
}

.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: absolute;
  left: -30px;
  color: white;
  cursor: pointer;
}*/

footer {
  background-color: #ffce00;
  width: 100%;
  height: 100px;
}

/*history*/
#top-image {
  background-color: #FFF1B6;
  z-index: -100;
  height: 700px;
}

.date p {
  margin-top: 100px;
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.text-1 p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
  font-family: Sanchez;
}

.divider-top {
  border-top: 1px solid #FFCE00;
  width: 300px;
  margin-top: 16px;
  margin-left: 570px;
}

.text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 380px;
  margin-left: 340px;
  font-family: Sanchez;
}

/*.divider-bottom {
  border-bottom: 1px solid #FFCE00;
  width: 300px;
  margin-left: 50px;
  margin-bottom: 500px;
}*/

.second {
  background-color: #fff;
  width: 100%;
  height: 700px;
}

.second .date p {
  margin-top: 50px;
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.second .text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 410px;
  margin-left: 340px;
  font-family: Sanchez;
}

.third {
  background-color: #FFF1B6;
  width: 100%;
  height: 700px;
}

.third .date p {
  padding-top: 50px;
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.third .text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 410px;
  margin-left: 340px;
  font-family: Sanchez;
}

.fourth {
  background-color: #fff;
  width: 100%;
  height: 700px;
}

.fourth .date p {
  text-align: center;
  font-size: 4em;
  font-family: Sanchez;
}

.fourth .text-2 p {
  width: 52%;
  text-align: center;
  margin-top: 410px;
  margin-left: 340px;
  font-family: Sanchez;
}

/*menu - Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}


